body{
  background-image: url('./Image/bk.jpg');
  background-color: rgb(41, 41, 41);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.card {
  display: flex;
  width: 60%;
  height: 30vw;
  margin-top: 10%;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(71, 72, 79, 0.315);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 360px) {
  .card {
    width: 100vw;
    height: 12vw;
    border-radius: 0px;
  }
}

@media screen and (min-width: 820px) {
  .card {
    width: 100vw;
    height: 10vw;
    border-radius: 0px;
  }
}

@media screen and (min-width: 1366px) {
  .card {
    width: 60%;
    height: 30vw;
    border-radius: 10px;
  }
}